<template>
  <div>
    <Home />
  </div>
</template>

<script setup>
import Home from '@/views/Home.vue'; // Ajusta la ruta según la ubicación real de tu componente Home

// Puedes agregar configuraciones adicionales o lógica aquí si es necesario
</script>
